<template>
  <div id="add_new_items">
          <v-alert
      v-if="itemAdded"
      dismissible
      transition="scale-transition"
  type="success"
>
Item Added Successfully
</v-alert>
    <v-row class="mt-5">
      <v-col md="3"></v-col>
      <v-col md="6">
        <v-card elevation="2">
          <div class="container">
            <v-text-field
                v-model="food_name"
                label="Name"
                required
            ></v-text-field>
            <v-text-field
                v-model="seller"
                label="Seller"
                required
            ></v-text-field>
            <v-text-field
                v-model="price"
                label="Price"
                required
            ></v-text-field>
            <v-textarea
                v-model="food_description"
                outlined
                name="food_description"
                label="Description"
            ></v-textarea>
            <v-file-input
                :rules="rules"
                label="Upload Food Image"
                accept="image/png, image/jpeg, image/bmp"
                prepend-icon="mdi-camera"
                @change="toBase64"
                ref="img"
            ></v-file-input>
            <div class="text-right">
              <v-btn
                  class="ma-2"
                  color="info"
                  @click.prevent="addItem"
              >
                Add Item

              </v-btn>
            </div>
          </div>
        </v-card>

      </v-col>
      <v-col md="3"></v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "AddNewItems",
  data() {
    return {
      rules: [
        food_img => !food_img || food_img.size < 2000000 || 'Image size should be less than 2 MB!',
      ],
      food_name: '',
      seller: '',
      price:'',
      food_description:'',
      food_img:'',
      add_item_loader: false,
      itemAdded:false
    }
  },
  computed:{

  },
  watch: {
    loader () {
      const l = this.loader
      this[l] = !this[l]

      setTimeout(() => (this[l] = false), 3000)

      this.loader = null
    },
  },
  methods:{
    addItem() {
      let items = JSON.parse(localStorage.getItem("items") || "[]");
      let item = {
         id:items.length+1,
        name:this.food_name,
        price:this.price,
        desc      : this.food_description,
        seller:this.seller,
        food_img: this.food_img,
        inCart:false
      }
      items.push(item); 
      localStorage.setItem('items', JSON.stringify(items));
      this.$store.commit('updateCart',item);
      this.itemAdded = true;
      this.$router.push('/main_page');

    },
    toBase64 (file) {
      let reader = new FileReader()
      reader.readAsDataURL(file)
      reader.onload = () => {
        this.food_img = reader.result
        // this.food_img = canvas.toDataURL();
      }
      reader.onerror = function (error) {
        console.log('Error: ', error)
      }
//     toBase64(){
//       this.$refs.img.addEventListener('uploaded', () => {
//       var canvas = document.createElement('CANVAS');
//       var ctx = canvas.getContext('2d');
//       // console.log(event.target.files[0])
//       let img = event.target.files[0];
//       // var dataURL;
//       canvas.height = img.naturalWidth;
//       canvas.width = img.naturalWidth;
//       ctx.drawImage(img, 0, 0);
//       // dataURL = canvas.toDataURL(outputFormat);
//       this.food_img = canvas.toDataURL();
//       console.log(this.food_img)
// });
    // var canvas = document.createElement('CANVAS');
    // var ctx = canvas.getContext('2d');
    // // console.log(event.target.files[0])
    // let img = event.target.files[0];
    // // var dataURL;
    // canvas.height = img.naturalWidth;
    // canvas.width = img.naturalWidth;
    // ctx.drawImage(img, 0, 0);
    // // dataURL = canvas.toDataURL(outputFormat);
    // this.food_img = canvas.toDataURL();
    }
  }
}
</script>

<style scoped>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
</style>