<template>
<div>
  <v-row v-if="products_cart.length > 0">
    <v-col sm="12" md="6" lg="4"  v-for="(item,index) in products_cart" :key="item.id">
      <v-card :loading="loading" class="mx-auto my-12" max-width="374">
        <v-img
            height="250"
            :src=item.food_img
        ></v-img>
        <v-card-title>{{item.name}}</v-card-title>
        <v-card-text>
          <v-row align="center ml-3 mr-3">
            <div class="my-4 subtitle-1">
              {{item.seller}}
            </div>
            <br />
            <div>
              {{item.desc}}
            </div>
          </v-row>
        </v-card-text>
        <v-divider class="mx-4"></v-divider>
        <v-card-actions class="ml-3">
          <v-btn color="deep-purple lighten-2" text @click="reserve(item,index)">
            {{item.inCart ? 'Remove from Cart' : 'Add to Cart'}}
          </v-btn>
          <v-card-text class="text-right">Rs.{{item.price}}</v-card-text>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
  <v-row v-else>
    <v-col md="12" class="no-item">
      <h1>No Items in Carts</h1>
    </v-col>

  </v-row>
</div>
</template>

<script>
export default {
name: "Cart.vue",
  data() {
    return {
      loading: false,
      products_cart:[]
    };
  },
  mounted() {
    this.products_cart =  this.$store.state.StoreCarts;
    console.log(this.products_cart)
    // let items = JSON.parse(localStorage.getItem('items'));
    // if(this.products.length == 0 && (items.length > 0 || items != null)){
    //   this.$store.commit('addProducts', items)
    //   this.products =  this.$store.getters.allProducts;
    //   console.log(this.products)
    //
    // }
  },
  methods:{
    reserve(item) {
      const {id } = item;
      item.inCart = !item.inCart;

      // let data = {
      //   index : index,
      //   item:item
      // }

      // this.$store.commit('SET_PRODUCT',data)
      item.inCart ? this.$store.dispatch("addItem", id) : this.$store.dispatch("removeItem", id);
    },
  }
}
</script>

<style scoped>
.no-item{
  text-align: center;
}
</style>