<template>
  <div>
    <div class="container mt-5">

      <v-row v-if="products.length > 0">
        <v-col sm="12" md="6" lg="4" v-for="(item,index) in products" :key="item.id">
          <v-card :loading="loading" class="mx-auto my-12" max-width="374">
            <v-img
                height="250"
                :src=item.food_img
            ></v-img>
            <v-card-title>{{item.name}}</v-card-title>
            <v-card-text>
              <v-row align="center ml-3 mr-3">
                <div class="my-4 subtitle-1">
                  {{item.seller}}
                </div>
                <br />
                <div>
                  {{item.desc}}
                </div>
              </v-row>
            </v-card-text>
            <v-divider class="mx-4"></v-divider>
            <v-card-actions class="ml-3">
              <v-btn  color="deep-purple lighten-2" text @click="reserve(item,index)">
                Delete Food Card
              </v-btn>
              <v-card-text class="text-right">Rs.{{item.price}}</v-card-text>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row v-else>
        <v-col md="12">
          <h1>No Items to Show</h1>
        </v-col>

      </v-row>
    </div>
  </div>
</template>

<script>
export default {
name: "DeleteItems",
  data() {
    return {
      loading: false,
      products:[],
    };
  },
  mounted() {
    this.products =  this.$store.getters.allProducts;
    let items = JSON.parse(localStorage.getItem('items'));
    if(this.products.length == 0 && (items.length > 0 || items != null)){
      this.$store.commit('addProducts', items)
      this.products =  this.$store.getters.allProducts;
    }
  },
  methods: {
    reserve(item) {

      const {id } = item;
      console.log(id)
      // item.inCart = !item.inCart;

      this.$store.dispatch("removeFoodItem", id);
    },
  },
}
</script>

<style scoped>

</style>