<template>
  <v-app id="inspire">
    <v-content>
      <v-alert
      v-if="loginAlert"
      dismissible
      transition="scale-transition"
  :type="alertType"
>
{{alertMessage}}
</v-alert>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Login User</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                      v-model="email"
                      prepend-icon="person"
                      name="login"
                      label="Login"
                      type="text"
                      :rules="rules.email"
                  ></v-text-field>
                  <v-text-field
                      v-model="pswd"
                      id="password"
                      prepend-icon="lock"
                      name="password"
                      label="Password"
                      type="password"
                      :rules="rules.pswd"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="$router.push('/signup')">Signup</v-btn>
                <v-btn :disabled="disable" @click="signin" color="primary" to="/">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'Login',
  props: {
    source: String,
  },
  computed:{
    disable(){
      return !this.email || !this.pswd
    }
  },
  data(){
    return{
      email:'',
      pswd:'',
      loginAlert:false,
      alertMessage:'',
      alertType:'',
      rules:{
        email:[
          v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
        ],
        pswd: [ val => (val || '').length>0 || 'Password is required'],
      },
    }
  },
  methods:{
    signin(){

      let users_data =   JSON.parse(localStorage.getItem("users_data") || "[]");

      if(users_data.length === 0){
        alert('first goto signup !!')
      }else{

      let cred =   users_data.some(item=>this.email === item.email && this.pswd === item.password)
        if(cred){
          //  alert("user logined !!")
          let token = btoa(this.email+this.password);
          localStorage.setItem('token', token);
          this.$router.push('/main_page');
          this.alertMessage='Successfully Login'
          this.alertType='success'
          this.loginAlert = true;
        }else{
          this.alertMessage = 'Email or Passowrd did not match'
          this.alertType = 'error'
          this.loginAlert = true;
          
        }


      }




    }
  }

};
</script>

<style></style>
