<template>
  <v-app id="main_page">


    <v-navigation-drawer v-model="drawer" fixed top="10" class="deep-purple accent-4" dark>
      <v-list>
        <v-list-item v-for="menu in menus" :key="menu.title" link>
          <router-link :to="menu.path" class="link">
            <v-list-item-icon>
              <v-icon class="pr-3">{{ menu.icon }}</v-icon>
              {{ menu.title }}
            </v-list-item-icon>
          </router-link>
        </v-list-item>
      </v-list>

      <template v-slot:append>
        <div class="pa-2">
          <v-btn block  @click="logout">
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
<!--    <v-row class="top_bar">-->
<!--      <v-col cols="4">-->
<!--        <div class="sidebar">-->
<!--          -->
<!--        </div>-->
<!--      </v-col>-->
<!--      <v-col cols="8">-->

<!--      </v-col>-->
<!--    </v-row>-->
    <div class="content">
      <v-app-bar
          fixed
          color="blue"
          class="top_bar"
      >
        <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
        <v-toolbar-title class="title">FoodStreet</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-app-bar>
      <div class="main-wrapper">
        <div class="container mt-5">

          <v-row v-if="products.length > 0">
            <v-col sm="12" md="6" lg="4" v-for="(item,index) in products" :key="item.id">
              <v-card :loading="loading" class="mx-auto my-12" max-width="374">
                <v-img
                  height="250"
                  :src=item.food_img
                ></v-img>
                <v-card-title>{{item.name}}</v-card-title>
                <v-card-text>
                  <v-row align="center ml-3 mr-3">
                    <div class="my-4 subtitle-1">
                     {{item.seller}}
                    </div>
                    <br />
                    <div>
                      {{item.desc}}
                    </div>
                  </v-row>
                </v-card-text>
                <v-divider class="mx-4"></v-divider>
                <v-card-actions class="ml-3">
                  <v-btn :disabled="item.inCart" color="deep-purple lighten-2" text @click="reserve(item,index)">
                   {{item.inCart ? 'Item Add to Cart' : 'Add to Cart'}}
                  </v-btn>
                  <v-card-text class="text-right">Rs.{{item.price}}</v-card-text>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
          <v-row class="container mt-5 text-center" v-else>
            <v-col md="12">
              <h1>No Items to Show</h1>
            </v-col>
            
          </v-row>
        </div>
      </div>
    </div>
  </v-app>
</template>

<script>
// import sideBar from '../components/SideBar.vue';
export default {
  name: "Main",
  components: {
    // sideBar
  },
  data() {
    return {
      loading: false,
      products:[],
      drawer: false,
      menus: [
        { title: "Dashboard", icon: "mdi-view-dashboard", path: "/main_page" },
        {
          title: "Add New Items",
          icon: "mdi-view-dashboard",
          path: "/add",
        },
        {
          title:"View Cart",
          icon:"mdi-view-dashboard",
          path:'/cart'
        },
        {
          title:"Delete Items",
          icon:"mdi-view-dashboard",
          path:'/deleteItem'
        }
      ],
    };
  },
  mounted() {
    this.products =  this.$store.getters.allProducts;
    let items = JSON.parse(localStorage.getItem('items'));
    if(this.products.length == 0 && (items.length > 0 || items != null)){
      this.$store.commit('addProducts', items)
      this.products =  this.$store.getters.allProducts;
    } 
  },
  computed: {},
  methods: {
    reserve(item,index) {
      const {id } = item;
      item.inCart = !item.inCart;

      let data = {
        index : index,
        item:item
      }

      // this.$store.commit('SET_PRODUCT',data)
      item.inCart ? this.$store.commit('SET_PRODUCT',data) : this.$store.dispatch("removeItem", id);
    },
    logout() {
      localStorage.removeItem("token");
      this.$store.commit('resetState');
      this.$router.push("/");
    },
  },

};
</script>

<style scoped>
.main-wrapper {
  margin-left: 256px;
  width: calc(100% - 256px);
}
.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 64px;
}
.link {
  display: inline;
  color: #fff;
  text-decoration: none;
  width: 100%;
}
.title{
  text-align: right;
}
</style>
