<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Sign Up</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                      v-model="first_name"
                      name="first_name"
                      label="First Name"
                      type="text"
                      :rules="rules.first_name"
                  ></v-text-field>
                  <v-text-field
                      v-model="last_name"
                      name="last_name"
                      label="Last Name"
                      :rules="rules.last_name"
                      type="text"
                  ></v-text-field>
                  <v-text-field
                      v-model="email"
                      name="email"
                      label="Email"
                      type="text"
                      :rules="rules.email"
                  ></v-text-field>
                  <v-text-field
                      id="password"
                      v-model="password"
                      :append-icon="show_pswd ? 'mdi-eye' : 'mdi-eye-off'"
                      name="password"
                      label="Password"
                      :type="show_pswd ? 'text' : 'password'"
                      :rules="rules.pswd"
                      @click:append="show_pswd = !show_pswd"
                  ></v-text-field>
                  <v-text-field
                      id="confirm_password"
                      v-model="confirm_password"
                      :append-icon="show_cpswd ? 'mdi-eye' : 'mdi-eye-off'"
                      name="confirm_password"
                      label="Confirm Password"
                      :type="show_cpswd ? 'text' : 'password'"
                      :rules="[rules.cpswd, passwordConfirmationRule]"
                      @click:append="show_cpswd = !show_cpswd"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="$router.push('/')">Login</v-btn>
                <v-btn :disabled="disabled" color="primary" @click="signup">SignUp</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
name: "SignUp",
  data (){
    return{
      first_name:'',
      last_name:'',
      email:'',
      password:'',
      confirm_password:'',
      rules:{
        first_name: [ val =>  (val || '').length > 0 || 'Name is required'],
        last_name: [ val => (val || '').length > 0 || 'Last Name is required'],
        email:[
          v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
        ],
        pswd: [ val => (val || '').length>0 || 'Password is required'],
        cpswd:[ val => (val || '').length > 0 || 'Confirm Password is required']
      },
      show_pswd : false,
      show_cpswd: false,
    }
  },
  computed: {
    passwordConfirmationRule() {
      return () => (this.password == this.confirm_password) || 'Password not match'
    },
    disabled(){
      return !this.first_name || !this.last_name || !this.email || !this.password || !this.confirm_password
    }
  },
  methods:{
    signup(){

     let users_data =   JSON.parse(localStorage.getItem("users_data") || "[]");


     if(users_data.length !== 0){

      let already_exist_email = users_data.some(item=>item.email === this.email);
      if(already_exist_email){
           alert("Email already exist !!")
        return;
      }



     }

      users_data.push({
         first_name : this.first_name,
         last_name  : this.last_name,
         email      : this.email,
         password   : this.password,
         confirm_password: this.confirm_password
       })
      localStorage.setItem('users_data', JSON.stringify(users_data));

      this.$router.push('/')

    }
  }
}
</script>

<style scoped>

</style>