<template>
  <div class="sidebar">
    <v-card class="mx-auto" height="100%" width="256">
      <v-navigation-drawer fixed top="10" class="deep-purple accent-4" dark permanent>
        <v-list>
          <v-list-item v-for="menu in menus" :key="menu.title" link>
            <router-link :to="menu.path" class="link">
              <v-list-item-icon>
                <v-icon class="pr-3">{{ menu.icon }}</v-icon>
                {{ menu.title }}
              </v-list-item-icon>
            </router-link>
          </v-list-item>
        </v-list>

        <template v-slot:append>
          <div class="pa-2">
            <v-btn block @click="logout">
              Logout
            </v-btn>
          </div>
        </template>
      </v-navigation-drawer>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "SideBar",
  data() {
    return {
      menus: [
        { title: "Dashboard", icon: "mdi-view-dashboard", path: "/main_page" },
        {
          title: "Add New Items",
          icon: "mdi-view-dashboard",
          path: "/add",
        },
        {
          title:"View Cart",
          icon:"mdi-view-dashboard",
          path:'/cart'
        }
      ],
    };
  },
  methods: {
    logout() {
      localStorage.removeItem("token");
      this.$store.commit('resetState');
      this.$router.push("/");
    },
  },
};
</script>

<style scoped>
.link {
  display: inline;
  color: #fff;
  text-decoration: none;
  width: 100%;
}
.side-barr{
  top: 65px !important;
}
</style>
